logs/*.log
.idea/*
pickles/*
*~*
data/processed/*
data/deliverables/*
*.pkl
*.tsv
*.db
*.csv
*.xlsx
*.log
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
*.pyc
docs/*
data_etl.egg-info/*
logs/*
!logs/README_logs.md
