/* CSS for notebooks */

h1 {
    weight: bold;
    font-size: 20pt !important;
    color: #1e0039;
}

h2 {
    weight: bold;
    font-size: 18pt !important;
    color: #604d9e;
}

h3 {
    weight: bold;
    font-size: 16pt !important;
    color: #a27eb8;
}

h4 {
    weight: bold;
    font-size: 14pt !important;
    color: #aaa2d8;
}

h5 {
    weight: bold;
    font-size: 14pt !important;
    color: #aaa2d8;
}